@font-face {
    font-family: 'corp_round';
    src: url('/resources/corp_round_v1.ttf');
}

:root {
    --clr-primary: #2eb0f3;
    --clr-background: #ececec;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
    color: var(--clr-primary);
    background-color: var(--clr-background);
}

body {
    display: grid;
    grid-template:
        "left main right"1fr / auto 1fr minmax(5vw, auto);
}

aside {
    background-color: orange;
}

nav {
    width: 5vw;
}

body>main {
    /* background-color: green; */
    grid-area: main;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

article.map {
    /* background-color: blue; */
    flex: 1;
    /* outline: 1px solid var(--clr-primary); */
    position: relative;
}

article.map>* {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

aside.left {
    grid-area: left;
    display: flex;
    flex-direction: row;
    --button-width: 5vw;
    width: var(--button-width);
    position: relative;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 200;
    background-color: var(--clr-background);
}

ul>li {
    padding: 5px;
    margin: 0;
    width: var(--button-width);
    height: var(--button-width);
    max-width: var(--button-width);
    max-height: var(--button-width);
    display: grid;
    align-content: center;
    justify-content: center;
    /* border: 1px solid blue; */
}

#more {
    background-color: var(--clr-background);
    width: 25vw;
    position: absolute;
    top: 0;
    left: var(--button-width);
    bottom: 0;
    z-index: 100;
    transition: all 400ms ease-in-out 0s;
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.2);
}

#more.hidden {
    transform: translateX(-100%);
}

.menu>input[checked] + #more {
    background-color: hotpink;
}

aside.right {
    grid-area: right;
    width: 16vw;
    background-color: var(--clr-background);
    display: flex;
    height: 100%;
    flex-direction: column;
    box-shadow: -2px 0 2px rgba(0, 0, 0, 0.2);

    align-content: center;
    justify-content: center;
}

.right > * {
    /* outline: 1px solid hotpink; */
}

.map > object {
    padding: 1vw;
    width: 100%;
}

/* Menu */
.menu {
    display: grid;
    grid-auto-rows: var(--button-width) 25vw;
    grid-auto-flow: column;
}