#menu {
    display: flex;
    flex-direction: column;
}

#menu > section {
    display: grid;
    /* grid-template-rows: 1fr 5vw; */
    grid-template-columns: 1fr 5vw;
    align-items: center;
    justify-items: center;
    margin-bottom: 2.5vmin;
    grid-gap: 1vmin;
}

#menu > section > h2 {
    grid-column: span 2;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: left;
}

#menu > section > h2 .title {
    flex: 1;
}

#menu > section > label {
    margin-left: 2.5vmin;
    justify-self: left;
}

.test {
    outline: 1px solid red;
}

#menu.hidden {
    animation: hideToLeft 600ms ease-in-out 0s 1;
}

#menu.hidden .menuHandle {
    animation: hideToLeftIcon 600ms ease-in-out 0s 1;
}

#menu .menuHandle {
    align-self: flex-start;
    justify-self: flex-start;
    animation: hideToLeftIcon 600ms ease-in-out 0s 1 reverse forwards;
}

.menuHandle:hover {
    cursor: pointer;
}

/* #menu::before {
    content: "";
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/2000px-Hamburger_icon.svg.png");
    width: 30px;
    height: 30px;
    margin-left: -30px;
    background-size: 30px 30px;
    transform: translateX(-10px);
    animation: hideToRight 10s ease-in-out 0s 1;
} */

@keyframes hideToRight {
    0% {
        
    }
    100% {
        transform: translateX(100%);
        box-shadow: none;
    }
}

@keyframes hideToRightIcon {
    0% {
        
    }
    100% {
        transform: translateX(-150%);
    }
}

@keyframes hideToLeft {
    0% {
        
    }
    100% {
        transform: translateX(-100%);
        box-shadow: none;
    }
}

@keyframes hideToLeftIcon {
    0% {
        
    }
    100% {
        transform: translateX(calc(20vw + 10px));
    }
}

@media (max-width: 768px) {
    #menu {
        flex-direction: row;
    }

    #menu.hidden {
        animation: hideToRight 600ms ease-in-out 0s 1 forwards;
    }
    
    #menu.hidden .menuHandle {
        animation: hideToRightIcon 600ms ease-in-out 0s 1 forwards;
    }

    #menu > section {
        margin-bottom: initial;
        margin-right: 2.5vmin;
    }
}